<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl text-left lg:py-16">
        <p class=" text-lg font-medium text-red-500 lg:text-xl dark:text-red-400">About RedHope</p>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white lg:pr-[700px]">When People Help People, Change Happens</h1>
        
    </div>
</section>
