---
import Sample from "../../assets/img/Sample.png";
---
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl text-left lg:py-16">
        <div class="flex lg:flex-row flex-col gap-2 h-full">
            <div class="">
                <img src={Sample.src} alt="" class="w-[800px] rounded-2xl h-auto">
            </div>
            <div class="bg-gray-100 rounded-2xl w-full h-full p-10 justify-between">
                <h1 class="text-3xl font-bold mb-2">Additional Medical Feature</h1>
                <h1 class="text-lg font-semibold mb-5 opacity-50">Offer programs focused on preventive care, nutrition, exercise, and mental health complete with tracking and progress reports </h1>
                <ul class="gap-5 text-gray-500 list-inside dark:text-gray-400 grid grid-cols-2 mb-7">
                    <li class="flex font-semibold lg:text-lg text-xl">
                        <svg class="w-5 h-5 me-2 mt-[3px] text-red-700 dark:text-red-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        A person having age betweeen 18 to 60 years, can donate RedHope
                    </li>
                    <li class="flex font-semibold lg:text-lg text-xl">
                        <svg class="w-5 h-5 me-2 mt-[3px] text-red-700 dark:text-red-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        A Woman who got pregnant once can't no donate RedHope
                    </li>
                    <li class="flex font-semibold lg:text-lg text-xl">
                        <svg class="w-5 h-5 me-2 mt-[3px] text-red-700 dark:text-red-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        If Vaccinated, Person can donate after 28 Days of 1st Dose of Vaccination
                    </li>
                    <li class="flex font-semibold lg:text-lg text-xl">
                        <svg class="w-5 h-5 me-2 mt-[3px] text-red-700 dark:text-red-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        Donors can donate RedHope in every 15 days, but till 4 months from being tested positive.
                    </li>
                    <li class="flex font-semibold lg:text-lg text-xl">
                        <svg class="w-5 h-5 me-2 mt-[3px] text-red-700 dark:text-red-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        A person having suger or hypertension but in control from last 1 month without changing any medicine can donate RedHope
                    </li>
                </ul> 
                <button type="button" class="text-black flex gap-4 bg-gray-200 bg-no-repeat bg-center font-medium rounded-full text-md lg:pl-7 lg:pr-3 pl-5 pr-2 justify-center items-center py-2 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    Contact Us 
                    <svg class="w-8 h-8 text-red-700 rounded-full p-1 bg-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
