<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl lg:text-center text-left lg:py-16 lg:jusitfy-center lg:items-center items-start justify-start flex flex-col">
        <h1 class="lg:mb-16 mb-8 text-3xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Patients can consult with healthcare providers from the comfort of their homes, <span class="text-gray-300">eliminating travel time and costs.Reduced waiting times</span></h1>    
        <button type="button" class="text-white flex gap-4 bg-black bg-no-repeat bg-center font-medium rounded-full text-md lg:pl-7 lg:pr-3 pl-5 pr-2 justify-center items-center lg:py-3 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 lg:mb-14 mb-5">
            Make a schedule
            <svg class="w-8 h-8 text-red-700 rounded-full p-1 bg-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
            </svg>
        </button>    
    </div>
</section>
