---
import Layout from "../../../layouts/Layout.astro";
import Navbar from "../../../components/Admin/UI/Navbar.astro";
import Sidebar from "../../../components/Admin/UI/Sidebar.astro";
---

<Layout>
    <Navbar /> 
    <Sidebar />
    <div class="lg:p-4 p-2 sm:ml-64">
        <div class="lg:p-4 p-2 mt-14">
            <form class="bg-gray-100 p-6 rounded-2xl">
                <div class="lg:grid lg:grid-cols-2 grid grid-cols-1 lg:gap-5">
                    <div class="mb-5">
                        <label for="blood_type" class="block mb-2 text-md font-semibold text-gray-900 dark:text-white">Blood Type</label>
                        <select id="blood_type" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500 dark:shadow-xs-light" required>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="AB">AB</option>
                            <option value="O">O</option>
                        </select>
                    </div>
                    <div class="mb-5">
                        <label for="quantity" class="block mb-2 text-md font-semibold text-gray-900 dark:text-white">Quantity</label>
                        <input type="number" id="quantity" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500 dark:shadow-xs-light" placeholder="Masukkan jumlah stok" required />
                    </div>
                </div>
                <div class="lg:grid lg:grid-cols-2 grid grid-cols-1 lg:gap-5">
                    <div class="mb-5">
                        <label for="checkpoint_id" class="block mb-2 text-md font-semibold text-gray-900 dark:text-white">Checkpoint</label>
                        <select id="checkpoint_id" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500 dark:shadow-xs-light" required>
                            <option value="1">CP-001</option>
                            <option value="2">CP-002</option>
                            <option value="3">CP-003</option>
                            <option value="3">CP-004</option>
                        </select>
                    </div>
                    <div class="mb-5">
                        <label for="status" class="block mb-2 text-md font-semibold text-gray-900 dark:text-white">Status</label>
                        <select id="status" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500 dark:shadow-xs-light" required>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Simpan Data
                </button>
            </form>                       
        </div>
    </div>
</Layout>