---
import Layout from "../../layouts/Layout.astro"
import Sidebar from "../../components/Admin/UI/Sidebar.astro";
import Navbar from "../../components/Admin/UI/Navbar.astro"
import Card from "../../components/Admin/components/Card.astro";
import Table from "../../components/Admin/components/tableCheckpoint.astro";
import { cards } from "../../data/Admin/card";

const checkpointManagement = cards.filter((card) => card.file === "checkpointManagement");
---

<Layout>
    <Navbar /> 
    <Sidebar />
    <div class="lg:p-4 p-2 sm:ml-64">
        <div class="lg:p-4 p-2 mt-14">
            <div class="grid grid-cols-3 lg:gap-5 gap-1 justify-between">    
                {checkpointManagement.map((card, index) => (
                    <Card key={index} icon={card.icon} label={card.label} value={card.value} />
                ))}
            </div>  
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">  
            <div class="flex justify-end">
                <a href="/admin/checkpointManagement/addCheckpoint">
                    <button type="button" class="text-white mb-5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">
                        Add Checkpoint   
                    </button>
                </a>
            </div>              
            <Table />
        </div>
    </div>
</Layout>;