---
import Layout from "../../layouts/Layout.astro"
import Sidebar from "../../components/Admin/UI/Sidebar.astro";
import Navbar from "../../components/Admin/UI/Navbar.astro"
import Card from "../../components/Admin/components/Card.astro";
---

<Layout>
    <Navbar /> 
    <Sidebar />
    <div class="p-4 sm:ml-64">
        <div class="p-4 mt-14">
            <Card />
        </div>
    </div>
</Layout>