---
import Layout from "../../layouts/Layout.astro"
import Sidebar from "../../components/Admin/UI/Sidebar.astro";
import Navbar from "../../components/Admin/UI/Navbar.astro"
import Card from "../../components/Admin/components/Card.astro";
import Table from "../../components/Admin/components/tableBlood.astro";
import { cards } from "../../data/Admin/card";

const indexCard = cards.filter((card) => card.file === "dashboard");
---

<Layout>
    <Navbar /> 
    <Sidebar />
    <div class="lg:p-4 p-2 sm:ml-64">
        <div class="lg:p-4 p-2 mt-14">
            <div class="grid grid-cols-3 lg:gap-5 gap-1 justify-between">
                {indexCard.map((card, index) => (
                    <Card key={index} icon={card.icon} label={card.label} value={card.value} />
                ))}
            </div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <Table />
        </div>
    </div>
</Layout>