---
import Layout from "../../layouts/Layout.astro"
import Sidebar from "../../components/Admin/UI/Sidebar.astro";
import Navbar from "../../components/Admin/UI/Navbar.astro"
import Card from "../../components/Admin/components/Card.astro";
import { cards } from "../../data/Admin/card";

const userManagementCard = cards.filter((card) => card.file === "userManagement.astro");
---

<Layout>
    <Navbar /> 
    <Sidebar />
    <div class="p-4 sm:ml-64">
        <div class="p-4 mt-14">
            <div class="lg:grid lg:grid-cols-3 flex flex-col gap-5 justify-between">
                {userManagementCard.map((card, index) => (
                    <Card key={index} icon={card.icon} label={card.label} value={card.value} />
                ))}
            </div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">    
        </div>
    </div>
</Layout>;