body{
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url("../img/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.headerBackground{
    background-image: url("../img/header.png");
}
.buttonBackground{
    background-image: url("../img/button.png");
}
.loginBackground{
    background-image: url("../img/login.png");
}
